In [1]:
import pandas as pd

Задание:
1. Оставить один год. 
2. arrival_year, arrival_month, arrival_date объединить в один столбец (arrival_datetime) формата ГГГГ-ММ-ДД. 
3. Посчитать для каждого бронирования столбец с днем бронирования (ГГГГ-ММ-ДД). 
5. Создать столбец "event" (текст), в каждой ячейке которого написать "Отменено" или "Подтверждено" в зависимости от значения booking_status. 
4. Скопировать каждую строку с бронированием. В "event" добавить "Заезд". 
   Скопировать строку с каждым бронированием столько раз, сколько специальных запросов, сделанных клиентом, по нему было (no_of_special_requests). 
   В каждой из скопированных строк заполнить "event" = "Дополнительный запрос". 
6. Создать столбец "date", в который при "event" = "Отменено" или "Подтверждено" добавить дату бронирования (ГГГГ-ММ-ДД), а при "event" = "Заезд" 
   добавить arrival_datetime, при "event" = "Дополнительный запрос" добавить случайную дату и время (ГГГГ-ММ-ДД) в промежутке от даты бронирования 
   до даты заезда. 
   
   Прислать python notebook с кодом и перыми 30 строками из получившегося датасета и примером трех получившихся бронирований.

In [36]:
df = pd.read_excel('dataset.xlsx')

In [37]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [40]:
#Оставить один год.
df = df[df["arrival_year"] == 2018]

In [41]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,9,13,Online,0,0,0,115.00,1,Canceled

In [42]:
#arrival_year, arrival_month, arrival_date объединить в один столбец (arrival_datetime) формата ГГГГ-ММ-ДД.
df.loc[(df['arrival_month'] == 4) & (df['arrival_date'] > 30), 'arrival_date'] = 30

In [43]:
df['arrival_datetime'] = pd.to_datetime(
    df['arrival_year'].astype(str) + '-' + 
    df['arrival_month'].astype(str) + '-' + 
    df['arrival_date'].astype(str),
    errors='coerce'
).dt.strftime('%Y-%m-%d')

In [44]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,arrival_datetime
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled,2018-11-06
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled,2018-02-28
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled,2018-05-20
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled,2018-04-11
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,9,13,Online,0,0,0,115.00,1,Canceled,2018-09-13

In [45]:
df.drop(columns=["arrival_year", "arrival_month", "arrival_date"])

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,arrival_datetime
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,Online,0,0,0,106.68,1,Not_Canceled,2018-11-06
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,Online,0,0,0,60.00,0,Canceled,2018-02-28
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,Online,0,0,0,100.00,0,Canceled,2018-05-20
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,Online,0,0,0,94.50,0,Canceled,2018-04-11
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,Online,0,0,0,115.00,1,Canceled,2018-09-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,Online,0,0,0,167.80,1,Not_Canceled,2018-08-03
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,Online,0,0,0,90.95,2,Canceled,2018-10-17
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,Online,0,0,0,98.39,2,Not_Canceled,2018-07-01
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,Online,0,0,0,94.50,0,Canceled,2018-04-21
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,Offline,0,0,0,161.67,0,Not_Canceled,2018-12-30

In [63]:
# Посчитать для каждого бронирования столбец с днем бронирования (ГГГГ-ММ-ДД).
df["arrival_datetime"] = pd.to_datetime(df["arrival_datetime"], errors="coerce")

df["lead_time"] = pd.to_numeric(df["lead_time"], errors="coerce").fillna(0).astype(int)

df["booking_date"] = df["arrival_datetime"] - pd.to_timedelta(df["lead_time"], unit="D")

df["booking_date"] = df["booking_date"].dt.strftime('%Y-%m-%d')

In [64]:
df.head(10)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,...,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,arrival_datetime,booking_date
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,...,6,Online,0,0,0,106.68,1,Not_Canceled,2018-11-06,2018-11-01
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,...,28,Online,0,0,0,60.00,0,Canceled,2018-02-28,2018-02-27
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,...,20,Online,0,0,0,100.00,0,Canceled,2018-05-20,2017-10-21
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,...,11,Online,0,0,0,94.50,0,Canceled,2018-04-11,2018-02-22
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,...,13,Online,0,0,0,115.00,1,Canceled,2018-09-13,2017-10-02
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,...,26,Online,0,0,0,105.61,1,Not_Canceled,2018-12-26,2018-10-04
8,INN00009,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,2018,...,6,Offline,0,0,0,96.90,1,Not_Canceled,2018-07-06,2018-03-07
9,INN00010,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,2018,...,18,Online,0,0,0,133.44,3,Not_Canceled,2018-10-18,2018-09-04
10,INN00011,1,0,1,0,Not Selected,0,Room_Type 1,0,2018,...,11,Online,0,0,0,85.03,0,Not_Canceled,2018-09-11,2018-09-11
11,INN00012,1,0,2,1,Meal Plan 1,0,Room_Type 4,35,2018,...,30,Online,0,0,0,140.40,1,Not_Canceled,2018-04-30,2018-03-26

In [77]:
# Создать столбец "event" (текст), в каждой ячейке которого написать "Отменено" или "Подтверждено" 
# в зависимости от значения booking_status.

df["event"] = df["booking_status"].map({"Canceled": "Отменено", "Not_Canceled": "Подтверждено"})

In [66]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,...,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,arrival_datetime,booking_date,event
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,...,Online,0,0,0,106.68,1,Not_Canceled,2018-11-06,2018-11-01,Подтверждено
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,...,Online,0,0,0,60.00,0,Canceled,2018-02-28,2018-02-27,Отменено
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,...,Online,0,0,0,100.00,0,Canceled,2018-05-20,2017-10-21,Отменено
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,...,Online,0,0,0,94.50,0,Canceled,2018-04-11,2018-02-22,Отменено
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,...,Online,0,0,0,115.00,1,Canceled,2018-09-13,2017-10-02,Отменено

In [119]:
# Скопировать каждую строку с бронированием. В "event" добавить "Заезд". 
# Скопировать строку с каждым бронированием столько раз, сколько специальных запросов, 
# сделанных клиентом, по нему было (no_of_special_requests). 
# В каждой из скопированных строк заполнить "event" = "Дополнительный запрос".

# пустой список для хранения обработанных строк
new_rows = []

for _, row in df.iterrows():
    # запись "Заезд" (одно на бронирование)
    checkin_row = row.to_dict()
    checkin_row['event'] = 'Заезд'
    new_rows.append(checkin_row)
    
    # записи "Дополнительный запрос" (по количеству запросов)
    for _ in range(row['no_of_special_requests']):
        request_row = row.to_dict()
        request_row['event'] = 'Дополнительный запрос'
        new_rows.append(request_row)

# Создаем новый DataFrame
result_df = pd.DataFrame(new_rows)

In [110]:
print(result_df[['Booking_ID', 'no_of_special_requests', 'event']].head(20))

   Booking_ID  no_of_special_requests                  event
0    INN00002                       1                  Заезд
1    INN00002                       1  Дополнительный запрос
2    INN00003                       0                  Заезд
3    INN00004                       0                  Заезд
4    INN00005                       0                  Заезд
5    INN00006                       1                  Заезд
6    INN00006                       1  Дополнительный запрос
7    INN00008                       1                  Заезд
8    INN00008                       1  Дополнительный запрос
9    INN00009                       1                  Заезд
10   INN00009                       1  Дополнительный запрос
11   INN00010                       3                  Заезд
12   INN00010                       3  Дополнительный запрос
13   INN00010                       3  Дополнительный запрос
14   INN00010                       3  Дополнительный запрос
15   INN00011                       0                  Заезд
16   INN00012                       1                  Заезд
17   INN00012                       1  Дополнительный запрос
18   INN00013                       0                  Заезд
19   INN00014                       2                  Заезд

In [111]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,...,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,arrival_datetime,booking_date,event,date
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,...,0,0,0,106.68,1,Not_Canceled,2018-11-06,2018-11-01,Подтверждено,2018-11-01
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,...,0,0,0,60.00,0,Canceled,2018-02-28,2018-02-27,Отменено,2018-02-27
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,...,0,0,0,100.00,0,Canceled,2018-05-20,2017-10-21,Отменено,2017-10-21
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,...,0,0,0,94.50,0,Canceled,2018-04-11,2018-02-22,Отменено,2018-02-22
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,...,0,0,0,115.00,1,Canceled,2018-09-13,2017-10-02,Отменено,2017-10-02

In [116]:
# Создать столбец "date", в который при "event" = "Отменено" или "Подтверждено" 
# добавить дату бронирования (ГГГГ-ММ-ДД), а при "event" = "Заезд" добавить arrival_datetime, 
# при "event" = "Дополнительный запрос" добавить случайную дату и время (ГГГГ-ММ-ДД) в промежутке
# от даты бронирования до даты заезда.

import numpy as np
from datetime import datetime, timedelta

df['arrival_datetime'] = pd.to_datetime(df['arrival_datetime'], errors='coerce')
df['booking_date'] = pd.to_datetime(df['booking_date'], errors='coerce')

# генерации случайной даты
def generate_random_date(row):
    if pd.isna(row['booking_date']) or pd.isna(row['arrival_datetime']):
        return np.nan
    
    delta = (row['arrival_datetime'] - row['booking_date']).days
    if delta <= 0:  # booking_date позже arrival_datetime
        return np.nan
    
    random_days = np.random.randint(0, delta + 1)
    random_date = row['booking_date'] + timedelta(days=random_days)
    return random_date.strftime('%Y-%m-%d')

def create_date_column(row):
    if row['event'] in ['Отменено', 'Подтверждено']:
        return row['booking_date'].strftime('%Y-%m-%d') if not pd.isna(row['booking_date']) else np.nan
    elif row['event'] == 'Заезд':
        return row['arrival_datetime'].strftime('%Y-%m-%d') if not pd.isna(row['arrival_datetime']) else np.nan
    elif row['event'] == 'Дополнительный запрос':
        return generate_random_date(row)
    else:
        return np.nan

result_df['date'] = result_df.apply(create_date_column, axis=1)
result_df['date'] = result_df['date'].replace({np.nan: ''})

In [120]:
print(result_df[['Booking_ID', 'event', 'date', 'booking_date', 'arrival_datetime', 'booking_status']].head(10))

  Booking_ID                  event        date booking_date arrival_datetime  \
0   INN00002                  Заезд  2018-11-01   2018-11-01       2018-11-06
1   INN00002  Дополнительный запрос  2018-11-01   2018-11-01       2018-11-06
2   INN00003                  Заезд  2018-02-27   2018-02-27       2018-02-28
3   INN00004                  Заезд  2017-10-21   2017-10-21       2018-05-20
4   INN00005                  Заезд  2018-02-22   2018-02-22       2018-04-11
5   INN00006                  Заезд  2017-10-02   2017-10-02       2018-09-13
6   INN00006  Дополнительный запрос  2017-10-02   2017-10-02       2018-09-13
7   INN00008                  Заезд  2018-10-04   2018-10-04       2018-12-26
8   INN00008  Дополнительный запрос  2018-10-04   2018-10-04       2018-12-26
9   INN00009                  Заезд  2018-03-07   2018-03-07       2018-07-06

  booking_status
0   Not_Canceled
1   Not_Canceled
2       Canceled
3       Canceled
4       Canceled
5       Canceled
6       Canceled
7   Not_Canceled
8   Not_Canceled
9   Not_Canceled

In [118]:
df.head(100)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,...,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,arrival_datetime,booking_date,event,date
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,...,0,0,0,106.68,1,Not_Canceled,2018-11-06,2018-11-01,Подтверждено,2018-11-01
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,...,0,0,0,60.00,0,Canceled,2018-02-28,2018-02-27,Отменено,2018-02-27
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,...,0,0,0,100.00,0,Canceled,2018-05-20,2017-10-21,Отменено,2017-10-21
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,...,0,0,0,94.50,0,Canceled,2018-04-11,2018-02-22,Отменено,2018-02-22
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,...,0,0,0,115.00,1,Canceled,2018-09-13,2017-10-02,Отменено,2017-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,INN00121,2,0,0,3,Meal Plan 1,0,Room_Type 1,317,2018,...,0,0,0,106.20,1,Canceled,2018-09-01,2017-10-19,Отменено,2017-10-19
121,INN00122,2,0,0,2,Meal Plan 2,0,Room_Type 1,286,2018,...,0,0,0,58.50,0,Not_Canceled,2018-09-16,2017-12-04,Подтверждено,2017-12-04
122,INN00123,2,0,1,3,Meal Plan 1,0,Room_Type 1,68,2018,...,0,0,0,73.95,0,Canceled,2018-03-10,2018-01-01,Отменено,2018-01-01
123,INN00124,2,0,0,3,Meal Plan 1,0,Room_Type 1,148,2018,...,0,0,0,105.30,0,Not_Canceled,2018-05-05,2017-12-08,Подтверждено,2017-12-08
124,INN00125,3,0,2,0,Meal Plan 1,0,Room_Type 4,68,2018,...,0,0,0,133.20,2,Not_Canceled,2018-04-24,2018-02-15,Подтверждено,2018-02-15

In [122]:
df.to_excel('dataset_new.xlsx', index=False)

In [123]:
df.head(30)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,...,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,arrival_datetime,booking_date,event,date
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,...,0,0,0,106.68,1,Not_Canceled,2018-11-06,2018-11-01,Подтверждено,2018-11-01
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,...,0,0,0,60.00,0,Canceled,2018-02-28,2018-02-27,Отменено,2018-02-27
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,...,0,0,0,100.00,0,Canceled,2018-05-20,2017-10-21,Отменено,2017-10-21
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,...,0,0,0,94.50,0,Canceled,2018-04-11,2018-02-22,Отменено,2018-02-22
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,...,0,0,0,115.00,1,Canceled,2018-09-13,2017-10-02,Отменено,2017-10-02
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,...,0,0,0,105.61,1,Not_Canceled,2018-12-26,2018-10-04,Подтверждено,2018-10-04
8,INN00009,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,2018,...,0,0,0,96.90,1,Not_Canceled,2018-07-06,2018-03-07,Подтверждено,2018-03-07
9,INN00010,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,2018,...,0,0,0,133.44,3,Not_Canceled,2018-10-18,2018-09-04,Подтверждено,2018-09-04
10,INN00011,1,0,1,0,Not Selected,0,Room_Type 1,0,2018,...,0,0,0,85.03,0,Not_Canceled,2018-09-11,2018-09-11,Подтверждено,2018-09-11
11,INN00012,1,0,2,1,Meal Plan 1,0,Room_Type 4,35,2018,...,0,0,0,140.40,1,Not_Canceled,2018-04-30,2018-03-26,Подтверждено,2018-03-26
12,INN00013,2,0,2,1,Not Selected,0,Room_Type 1,30,2018,...,0,0,0,88.00,0,Canceled,2018-11-26,2018-10-27,Отменено,2018-10-27
13,INN00014,1,0,2,0,Meal Plan 1,0,Room_Type 1,95,2018,...,0,0,0,90.00,2,Canceled,2018-11-20,2018-08-17,Отменено,2018-08-17
15,INN00016,2,0,0,2,Meal Plan 2,0,Room_Type 1,256,2018,...,0,0,0,115.00,1,Canceled,2018-06-15,2017-10-02,Отменено,2017-10-02
21,INN00022,1,0,0,1,Meal Plan 1,0,Room_Type 1,122,2018,...,0,0,0,67.00,0,Not_Canceled,2018-11-25,2018-07-26,Подтверждено,2018-07-26
22,INN00023,2,0,2,4,Meal Plan 1,0,Room_Type 1,2,2018,...,0,0,0,85.00,0,Not_Canceled,2018-03-20,2018-03-18,Подтверждено,2018-03-18
23,INN00024,2,0,0,3,Meal Plan 1,0,Room_Type 1,37,2018,...,0,0,0,105.00,0,Not_Canceled,2018-10-13,2018-09-06,Подтверждено,2018-09-06
24,INN00025,2,0,2,1,Not Selected,0,Room_Type 1,130,2018,...,0,0,0,94.50,1,Not_Canceled,2018-05-22,2018-01-12,Подтверждено,2018-01-12
25,INN00026,2,0,0,2,Meal Plan 1,0,Room_Type 1,99,2018,...,0,0,0,114.30,1,Not_Canceled,2018-04-28,2018-01-19,Подтверждено,2018-01-19
27,INN00028,1,0,0,2,Meal Plan 1,0,Room_Type 4,2,2018,...,0,0,0,110.00,0,Canceled,2018-05-19,2018-05-17,Отменено,2018-05-17
31,INN00032,2,0,2,2,Meal Plan 1,0,Room_Type 1,107,2018,...,0,0,0,87.50,1,Not_Canceled,2018-11-13,2018-07-29,Подтверждено,2018-07-29
32,INN00033,0,2,0,3,Meal Plan 1,0,Room_Type 2,56,2018,...,0,0,0,82.44,1,Not_Canceled,2018-12-07,2018-10-12,Подтверждено,2018-10-12
33,INN00034,2,0,0,1,Not Selected,0,Room_Type 1,2,2018,...,0,0,0,69.50,1,Not_Canceled,2018-01-09,2018-01-07,Подтверждено,2018-01-07
34,INN00035,2,0,0,2,Meal Plan 1,0,Room_Type 1,72,2018,...,0,0,0,85.50,0,Not_Canceled,2018-10-07,2018-07-27,Подтверждено,2018-07-27
35,INN00036,2,0,0,1,Not Selected,1,Room_Type 1,23,2018,...,0,0,0,115.00,1,Not_Canceled,2018-04-27,2018-04-04,Подтверждено,2018-04-04
36,INN00037,1,0,2,1,Meal Plan 1,0,Room_Type 1,34,2018,...,0,0,0,81.00,0,Canceled,2018-06-19,2018-05-16,Отменено,2018-05-16
38,INN00039,2,0,2,3,Not Selected,0,Room_Type 1,247,2018,...,0,0,0,63.75,0,Canceled,2018-11-19,2018-03-17,Отменено,2018-03-17
39,INN00040,2,0,2,1,Meal Plan 1,0,Room_Type 4,186,2018,...,0,0,0,121.80,1,Canceled,2018-07-30,2018-01-25,Отменено,2018-01-25
40,INN00041,2,0,0,4,Meal Plan 1,0,Room_Type 1,64,2018,...,0,0,0,93.60,2,Not_Canceled,2018-11-01,2018-08-29,Подтверждено,2018-08-29
41,INN00042,2,0,0,2,Meal Plan 1,0,Room_Type 1,35,2018,...,0,0,0,102.00,1,Not_Canceled,2018-06-21,2018-05-17,Подтверждено,2018-05-17
42,INN00043,3,0,2,1,Meal Plan 1,0,Room_Type 1,96,2018,...,0,0,0,121.80,1,Not_Canceled,2018-04-10,2018-01-04,Подтверждено,2018-01-04